.form-container {
  height: 300px;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  width: 20%;
  border-radius: 14px;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form-container h3{
  text-align: center;
  margin-top: -80px;
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-container label {
  margin-left: 0;
  font-size: small;
  font-weight: bold;
  color: black;
}

.input-container input {
  margin-left: 0;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 0.5rem 0.75rem;
  border-radius: 15px;
  background-color: lightblue;
  color:black;
}

.button-container button:hover {
  background-color:white;
}

.error{
  color: red;
  text-align: center;
  margin-top: -15px;
  font-size: small;
}

@media only screen and (max-width: 600px) {
  .form-container{
    width: 100%;
  }
}